<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab One
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="page_">
    <ion-card class="welcome-card">
      <ion-img src="/assets/shapes.svg"></ion-img>
      <ion-card-header *ngIf="afAuth.auth.currentUser">
        <ion-card-title>Hej på dig {{afAuth.auth.currentUser.displayName}}</ion-card-title>
        <ion-button *ngIf="afAuth.auth.currentUser" (click)="signOut()">Logga av</ion-button>
      </ion-card-header>
      <ion-card-content>
        <p>Now that your app has been created, you'll want to start building out features and components. Check out some of the resources below for next steps.</p>
      </ion-card-content>
    </ion-card>

    <ion-card class="welcome-card">
      <firebase-ui></firebase-ui>
    </ion-card>

    <app-profile></app-profile>
  </div>
</ion-content>
